<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

    <!-- alias(별명) = type의 긴 클래스명에 대한 짧은 이름 -->
    <typeAliases>
        <typeAlias type="com.example.demo.member.service.MemberVO" alias="MemberVO" />
    </typeAliases>

    <!-- SQL 매퍼(매핑)파일 경로구성 -->
    <mappers>
        <mapper resource="mapper/member.xml" />
    </mappers>

</configuration>